<!-- <app-allpages-navbar></app-allpages-navbar> -->

<!-- <div class="container">
    <div class="row"> -->
        <!-- <div class="col-md-9"></div> -->
        <div class="col-md-12">
            <!-- search -->
            <div  class="space_of_icon search_space">
                <span><i class="fa fa-search icon_color" style="font-size:20px" ></i>Search</span>
             </div>
             <!-- <hr class="small_hr"> -->
             <!-- <div class="row"> -->
                 <div class="col-md-12 col-12">
                     <div class="input-group">
                         <input type="search" class="form-control space_of_icon" placeholder="Type something" aria-label="Search" aria-describedby="search-addon" />
                         <button type="button" class="btn btn-outline search_bar_button" data-mdb-ripple-init>search</button>
                       </div>
                 <!-- </div> -->
             </div>
            <!-- search -->


<!-- recent_posts -->

<h6><i class="fa fa-clock-o space_of_icon icon_color" aria-hidden="true" ></i>&nbsp;  Recent Posts</h6>
<!-- <hr class="small_line"> -->
<div class="col-md-12">
<div class="card house_card">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-6">
            <img src="../../assets/images/hm2.jpg" class="img_house" routerLink="/imgtopinfracompany">
        </div>
        <div class="col-md-8 col-sm-6 col-6">
            <p class="top_infra_text">Top Infra Company</p>
            <h6 class="city">City: </h6>
            <div class="space_of_icon_star">
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
        </div>
        </div>
        
    </div>
</div>

</div>
<!-- <br> -->
<div class="col-md-12">
<div class="card house_card">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-6">
            <img src="../../assets/images/TechyTrainEstimates_v1_01.jpg" class="img_house" routerLink="/imgtopinfracompany">
        </div>
        <div class="col-md-8 col-sm-6 col-6">
            <p class="top_infra_text">Top Infra Company</p>
            <h6 class="city">City: </h6>
            <div class="space_of_icon_star">
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
        </div>
        </div>
        
    </div>
</div>

</div>
<!-- <br> -->
<div class="col-md-12">
<div class="card house_card">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-6">
            <img src="../../assets/images/PanCard_back1.jpeg" class="img_house" routerLink="/imgtopinfracompany">
        </div>
        <div class="col-md-8 col-sm-6 col-6">
            <p class="top_infra_text">Top Infra Company</p>
            <h6 class="city">City: </h6>
            <div class="space_of_icon_star">
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
            <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
        </div>
        </div>
        
    </div>
</div>

</div>

  <!-- recent_posts -->

       
            <img src="../../assets/images/300x250.png" class="img_empty_card" routerLink="/imgtopinfracompany">

<!-- search -->
<div  class="space_of_icon search_space">
    <span><i class="fa fa-search icon_color" style="font-size:20px" ></i>Search</span>
 </div>
 <!-- <hr class="small_hr"> -->
 <!-- <div class="row"> -->
     <div class="col-md-12 col-12">
         <div class="input-group">
             <input type="search" class="form-control space_of_icon" placeholder="Type something" aria-label="Search" aria-describedby="search-addon" />
             <button type="button" class="btn btn-outline search_bar_button" data-mdb-ripple-init>search</button>
           </div>
     <!-- </div> -->
 </div>
<!-- search -->

            <!-- top-business -->

           <!-- <div class="space_of_border"> <h6><i class="fa fa-building color space_of_icon icon_color"></i>&nbsp; Top Businesses</h6></div> -->
        <!-- <hr class="small_line"> -->
    <!-- <div class="col-md-12">
        <div class="card house_card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <img src="../../assets/images/hm2.jpg" class="img_house">
                </div>
                <div class="col-md-8 col-sm-6 col-6">
                    <p class="top_infra_text">Top Infra Company</p>
                    <h6 class="city">City: </h6>
                    <div class="space_of_icon_star">
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                </div>
                </div>
                
            </div>
        </div>
        
    </div> -->
    <!-- <br> -->
    <!-- <div class="col-md-12">
        <div class="card house_card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <img src="../../assets/images/TechyTrainEstimates_v1_01.jpg" class="img_house">
                </div>
                <div class="col-md-8 col-sm-6 col-6">
                    <p class="top_infra_text">Top Infra Company</p>
                    <h6 class="city">City: </h6>
                    <div class="space_of_icon_star">
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                </div>
                </div>
                
            </div>
        </div>
        
    </div> -->
    <!-- <br> -->
    <!-- <div class="col-md-12">
        <div class="card house_card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <img src="../../assets/images/PanCard_back1.jpeg" class="img_house">
                </div>
                <div class="col-md-8 col-sm-6 col-6">
                    <p class="top_infra_text">Top Infra Company</p>
                    <h6 class="city">City: </h6>
                    <div class="space_of_icon_star">
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                </div>
                </div>
                
            </div>
        </div>
        
    </div> -->
<!-- 
    top-business -->


    <!-- categories home page -->

    <!-- <h5><i class="fa fa-folder icon_color space"></i>&nbsp; Categories</h5> -->
            <!-- <div>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#">Real Estate <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Infra Developers <span dir="rtl" class="color">(0)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Groceries<span dir="rtl" class="color">(0)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Hospitals <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Children Hospitals  <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#">  Electronics  <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
            </div> -->


            <!-- categories home page  -->

            <!-- recent_posts -->

            <!-- <h6><i class="fa fa-clock-o space_of_icon icon_color" aria-hidden="true" ></i>&nbsp;  Recent Posts</h6> -->
          <!-- <hr class="small_line"> -->
      <!-- <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/hm2.jpg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div> -->
      <!-- <br> -->
      <!-- <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/TechyTrainEstimates_v1_01.jpg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div> -->
      <!-- <br> -->
      <!-- <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/PanCard_back1.jpeg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div> -->

            <!-- recent_posts -->


            <!-- top_users -->

            <!-- <h5><i class="fa fa-user icon_color"></i>&nbsp; Top Users</h5> -->
            <!-- <div class="img_home">
            <a routerLink="#"> -->
                <!-- Item image -->
                <!-- <img class="img-responsive img-thumbnail" alt="Niranjan Imalla" src="../../assets/images/nophoto-male.jpg">
                <h6 class="text_color">Niranjan Imalla</h6> -->
                <!-- Item title -->
                <!-- <span class="label label-red">4 Posts</span>
            </a> -->
        <!-- </div> -->
        <div>
             <h5><i class="fa fa-map-marker icon_color"></i>&nbsp; Top Locations</h5>
            <div>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Hyderbad  <span dir="rtl" class="color">(3)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-6 col-md-6 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Nijamabad  <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <h5><i class="fa fa-folder color"></i>&nbsp; Featured posts</h5>
                <div class="background_post">
                    <p class="post_space">No Post</p>
                </div>
            </div>
            <!-- <h5><i class="fa fa-envelope icon_color"></i>&nbsp; Get newsletter</h5> -->
            <!-- <form id="newsletter-form" role="form" action="#">
		    	<div class="input-group input-group-sm input_space">
                   <input class="form-control form-control-sm" type="text" placeholder="Your email" value="" name="email">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </span>
                </div>

		    </form> -->
        </div>

            <!-- top_users -->


             </div>
    <!-- </div>
</div> -->