<app-allpages-navbar></app-allpages-navbar>

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
               <h5 class="advanced_text">About</h5>
            </div>   
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> / about            
                </div>
              </div> 
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        <h4>About Us:</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eligendi eum voluptate cumque porro veniam corrupti! Earum eum molestias minima qui distinctio fuga itaque id dicta eligendi iste, unde at quae hic eaque sapiente perspiciatis cupiditate recusandae provident, incidunt officiis vitae illo obcaecati deleniti. Molestias similique earum facilis inventore cum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit blanditiis assumenda non quam autem culpa nihil voluptatum recusandae numquam! Consectetur similique minima eaque nisi at laborum nemo aliquid? Mollitia, quisquam veniam obcaecati nam provident at ad perspiciatis dolorem dignissimos ipsa sint beatae reiciendis possimus quaerat, explicabo tenetur assumenda eligendi.</p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <br>
                        <p>Phone: +34534223434</p>
                        <p>Mail: webheliosteam@gmail.com</p>
                    </div>
                </div>
            </div>
    </div>
</div>
<br>
