<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" id="home" aria-current="page" href="#"><i class="fa fa-home"
              aria-hidden="true"></i> Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/alloffers"><i class="fa fa-percent" aria-hidden="true"></i> All offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/packages"><i class="fa fa-archive" aria-hidden="true"></i> Package</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup"><i class="fa fa-list" aria-hidden="true"></i> List My Business</a>
        </li>
      </ul>
    </div>
  </div>
</nav>