<app-mainnavbar></app-mainnavbar>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h1>Thank your for sending registration request</h1><br>
                    <h3>Please Contact +91 {{orgData[0]?.contactNumber}} are Email:{{orgData[0]?.supportEmail}}
                    </h3>
                    <h3>for more
                        details
                        on payment
                        and
                        activation.</h3>
                    <div class="gorup_btn">
                        <button routerLink="/mainhome">Back to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>