<!-- <hr class="homeline"> -->
<app-mainnavbar></app-mainnavbar>
<app-homeadvancedsearch></app-homeadvancedsearch>
<div class="container">
    <div class="row">
        <div class="col-md-9">
           <app-featuredbusinessposts></app-featuredbusinessposts>
           <app-recentsposts></app-recentsposts>
           <app-hometoplocations></app-hometoplocations>
        </div>
        <div class="col-md-3">
            <app-homepagesidecontaines></app-homepagesidecontaines>
            <!-- <app-search></app-search>
            <app-topbusinesses></app-topbusinesses>
            <app-categorieshome></app-categorieshome>
            <app-siderecentposts></app-siderecentposts>
            <app-topusersinhomepage></app-topusersinhomepage> -->
        </div>
    </div>
</div>
