<app-mainnavbar></app-mainnavbar>

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
                <h5 class="advanced_text">Contact</h5>
            </div>
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> / Contact
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control mt-3 margin_space" type="text" name="sender_name" value=""
                            placeholder="Name">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control mt-3" type="text" name="Email" value="" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control mt-3" type="text" name="Phone" value="" placeholder="Phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea placeholder="Type your message here.." class="form-control mt-3 space_of_textarea"
                            rows="6" name="msg"></textarea>
                    </div>
                    <div>
                        <!-- <p class="multipication mt-3">4*9=?</p> -->
                    </div>
                    <!-- <div class="col-md-4">
                        <input class="form-control space_div" type="text" name="Phone" value="">
                    </div> -->
                    <div class="row">
                        <div class="col-md-5">
                            <input class="btn btn-primary button_color mt-3" type="submit" value="Send">
                            <input class="btn btn-primary mt-3 button_color_2" type="reset" value="Reset">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
            <hr class="small_line_hr">
            <div class="bold color_icon"><i class="fa fa-home color_icon"></i>&nbsp;&nbsp; Mahanidhi Leads Private
                Limited</div>
            <p class="color_icon">368/369 ,Suraram Colony, Hyderabad 500055</p>
            <p class="color_icon space_of_tel"> <i class="fa fa-phone"></i> Tel : + (91) - 7093135710<br><i
                    class="fa fa-envelope"></i>
                <a routerLink="#" class="email_web">mahhanidhi2023@gmail.com</a><br>
                <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30
            </p>
        </div>
    </div>
</div>
<br>