<app-mainnavbar></app-mainnavbar>
<div class="loading" *ngIf="loading">
    <span>Loading </span>&nbsp; <i class="fa fa-spinner" aria-hidden="true"></i>
</div>
<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
                <h5 class="advanced_text">Contact</h5>
            </div>
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> / Contact
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control mt-3 margin_space" formcontrolName="name" type="text" name="name"
                                value="" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control mt-3" type="text" formcontrolName="email" name="email" value=""
                                placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control mt-3" type="text" formcontrolName="phone" name="phone" value=""
                                placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea placeholder="Type your message here.." formcontrolName="message"
                                class="form-control mt-3 space_of_textarea" rows="6" name="message"></textarea>
                        </div>
                        <div>
                            <!-- <p class="multipication mt-3">4*9=?</p> -->
                        </div>
                        <!-- <div class="col-md-4">
                                    <input class="form-control space_div" type="text" name="Phone" value="">
                                </div> -->
                        <div class="row">
                            <div class="col-md-5">
                                <input class="btn btn-primary button_color mt-3" type="submit" value="Send">
                                <input class="btn btn-primary mt-3 button_color_2" type="reset" value="Reset">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <br>
            <ul class="list-group list-group-flush" *ngFor="let details of organizationDetails">
                <div class="organization_title">
                    <h3>Contact Us</h3>
                </div>
                <li class="list-group-item"><i class="fa fa-building-o"></i> {{details.name}}</li>
                <li class="list-group-item"><i class="fa fa-home color_icon"></i> {{details.contactPerson}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> {{details.contactNumber}}</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> {{details.supportEmail}}</li>
                <li class="list-group-item"><i class="fa fa-calendar">
                        {{details.addressLine1}},{{details.addressLine2}}
                    </i>
                </li>
                <li class="list-group-item">
                    {{details.addressLine3}},
                    {{details.pinCode}}
                </li>
            </ul>
            <!-- <h5 class="bold">&nbsp;&nbsp;Contact Us</h5>
            <hr class="small_line_hr">
            <div class="bold color_icon">&nbsp;&nbsp; Mahanidhi Leads Private
                Limited</div>
            <p class="color_icon">368/369 ,Suraram Colony, Hyderabad 500055</p>
            <p class="color_icon space_of_tel"> Tel : + (91) - 7093135710<br>
                <a routerLink="#" class="email_web">&nbsp;&nbsp; mahhanidhi2023@gmail.com</a><br>
               &nbsp;&nbsp; Business Hours : 9:30 - 5:30
            </p> -->
        </div>
    </div>
</div>
<br>