<!-- <div class="top-bar box-top-bar">
  <div class="container">
    <div class="tb-contact pull-left">
      <i class="fa fa-envelope color email_size"></i> &nbsp; <a routerLink="#"
        class="web_mail">Mahanidhileads@gmail.com</a>
      &nbsp;&nbsp;
      <i class="fa fa-phone color email_size"></i> &nbsp;<span class="phone_number"> +91 70931 35710</span>
    </div>
    <div class="tb-language dropdown pull-right">
      <a routerLink="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe">
        </i> English <i class="fa fa-angle-down color"></i></a>
      <ul class="dropdown-menu dropdown-mini" role="menu">
        <li class="active"><a routerLink="#">English</a></li>
        <li class=""><a routerLink="#">Arabic</a></li>
        <li class=""><a routerLink="#">Portuguese</a></li>
        <li class=""><a routerLink="#">Spanish</a></li>
      </ul>
    </div>
    <div class="tb-social pull-right">
      <div class="brand-bg text-right">
        <a target="_blank" routerLink="#" class="facebook"><i class="fa fa-facebook square-2"></i></a>
        <a target="_blank" routerLink="#" class="twitter"><i class="fa fa-twitter square-2"></i></a>
        <a target="_blank" routerLink="#" class="google-plus"><i class="fa fa-google-plus square-2"></i></a>
        <a target="_blank" routerLink="#" class="linkedin"><i class="fa fa-linkedin square-2"></i></a>
        <a target="_blank" routerLink="#" class="pinterest"><i class="fa fa-pinterest square-2"></i></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/mainhome">
      <a routerLink="#" class="standard-logo pull-left">
        <img src="../../assets/images/whizbiz-pro-logo1.png" alt="Logo" class="front_inline_39">
      </a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item ">
          <a class="nav-link active" id="home" aria-current="page" href="#"><i class="fa fa-home"
              aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/packages"><i class="fa fa-archive" aria-hidden="true"></i> Package</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/signup"><i class="fa fa-list" aria-hidden="true"></i> List My Business</a>
        </li>

      </ul>
    </div>
  </div>
</nav> -->