<app-allpages-navbar></app-allpages-navbar>
<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
               <h5 class="advanced_text">All packages</h5>
            </div>   
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> /  Choose a Package           
                </div>
              </div> 
        </div>
    </div>
</div>

<div class="container">
    <div class="card all_packages">
        <div class="row">
        <div class="col-md-12">
        <h3 class="icon_text">
        <span><i class="fa fa-money" ></i> Post package</span>
    </h3>
 </div>
    <hr>

    <div class="col-md-3 col-sm-6 col-12 block_col">
        <div class="block1 block">
        <div class="header">                            
            <h4>Normal</h4>
       </div>
       <ul class="category-list">
        <li>Price 
        <span class="pull-right">$10.00</span>
        </li>
        <li>Limit 
            <span class="pull-right">60 Days</span>
        </li>
        <li>Gallery Limit 
            <span class="pull-right">5 Photos</span>
       </li> 
      </ul>
     </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="block2 block ">
        <div class="header">                            
            <h4>Free</h4>
       </div>
       <ul class="category-list">
        <li>Price 
        <span class="pull-right">$0.00</span>
        </li>
        <li>Limit 
            <span class="pull-right">30 Days</span>
        </li>
        <li>Gallery Limit 
            <span class="pull-right">5 Photos</span>
       </li> 
      </ul>
     </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="block3 block">
        <div class="header">                            
            <h4>Gold Business</h4>
       </div>
       <ul class="category-list">
        <li>Price 
        <span class="pull-right">$500.00</span>
        </li>
        <li>Limit 
            <span class="pull-right">60 Days</span>
        </li>
        <li>Gallery Limit 
            <span class="pull-right">10 Photos</span>
       </li> 
      </ul>
     </div>
    </div>
    <div class="col-md-12">
        <h3 class="icon_text">
        <span><i class="fa fa-money" ></i> Feature package</span>
    </h3>
 </div>
 <hr>
 
    <div class="col-md-3 col-sm-6 col-12">
        <div class="block full_block">
        <div class="header">                            
            <h4>Free</h4>
       </div>
       <ul class="category-list">
        <li>Price 
        <span class="pull-right">$0.00</span>
        </li>
        <li>Limit 
            <span class="pull-right">15 Days</span>
        </li>
      </ul>
     </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="block full_block">
        <div class="header">                            
            <h4>Ultimate</h4>
       </div>
       <ul class="category-list">
        <li>Price 
        <span class="pull-right">$5.00</span>
        </li>
        <li>Limit 
            <span class="pull-right">60 Days</span>
        </li>
      </ul>
     </div>
    </div>

   </div>
  </div>
</div>