<div class="container-fluid">
     <div class="row">
      <div class="col-md-12">
          <h6><i class="fa fa-clock-o space_of_icon icon_color" aria-hidden="true" ></i>&nbsp;  Recent Posts</h6>
          <hr class="small_line">
      <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/hm2.jpg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
      <!-- <br> -->
      <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/TechyTrainEstimates_v1_01.jpg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
      <!-- <br> -->
      <div class="col-md-12">
          <div class="card house_card">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-6">
                      <img src="../../assets/images/PanCard_back1.jpeg" class="img_house">
                  </div>
                  <div class="col-md-8 col-sm-6 col-6">
                      <p class="top_infra_text">Top Infra Company</p>
                      <h6 class="city">City: </h6>
                      <div class="space_of_icon_star">
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                      <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                  </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
  </div>
  </div>
  </div>
  <br><br>
  
  