<app-allpages-navbar></app-allpages-navbar>

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
               <h4 class="advanced_text">News</h4>
            </div>   
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> / News            
                </div>
              </div> 
        </div>
    </div>
</div>


<div class="container-fluid">
<div class="row">
   
        <div class="col-md-9 col-sm-12 col-12">
    <div class="card background_card">
        <div class="row"> 
            <div class="col-md-12">
                <div class="background_post">
                    <p class="post_space">Post Not Found</p>
                </div>
            </div>   
    </div>
       
           </div>
</div>

<div class="col-md-3">
    <!-- <div class="container">
    <div class="row"> -->
        <!-- <div class="col-md-9"></div> -->
        <div class="col-md-12">
            <!-- search -->
            <div  class="space_of_icon search_space">
                <span><i class="fa fa-search icon_color" style="font-size:20px" ></i>Search</span>
             </div>
             <!-- <hr class="small_hr"> -->
             <!-- <div class="row"> -->
                 <div class="col-md-12 col-12">
                     <div class="input-group">
                         <input type="search" class="form-control space_of_icon" placeholder="Type something" aria-label="Search" aria-describedby="search-addon" />
                         <button type="button" class="btn btn-outline search_bar_button" data-mdb-ripple-init>search</button>
                       </div>
                 <!-- </div> -->
             </div>
            <!-- search -->

            <!-- top location -->
            <h5><i class="fa fa-map-marker icon_color"></i>&nbsp; Top Locations</h5>
            <div>
                <ul class="category_list">
                    <li class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Hyderbad  <span dir="rtl" class="color">(3)</span></a>
                    </li>
                </ul>
                <ul class="category_list">
                    <li class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="fa fa-angle-right"></span>&nbsp;
                        <a routerLink="#"> Nijamabad  <span dir="rtl" class="color">(1)</span></a>
                    </li>
                </ul>
            </div>

            <!-- top location -->

    <div class="col-md-12">
         <!-- feature-business -->
         <span><h5 class="space_of_border"><i class="fa fa-bookmark color space_of_icon icon_color" aria-hidden="true"></i>Feature Business</h5></span>

         <!-- <hr class="small_line"> -->
     <div class="col-md-12">
         <div class="card house_card">
             <div class="row">
                 <div class="col-md-4 col-sm-4 col-6">
                     <img src="../../assets/images/hm2.jpg" class="img_house" routerLink="/imgtopinfracompany">
                 </div>
                 <div class="col-md-8 col-sm-8 col-6">
                     <p class="top_infra_text">Top Infra Company</p>
                     <h6 class="city">City: </h6>
                     <div class="space_of_icon_star">
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                 </div>
                 </div>
                 
             </div>
         </div>
         
     </div>
     <!-- <br> -->
     <div class="col-md-12">
         <div class="card house_card">
             <div class="row">
                 <div class="col-md-4 col-sm-6 col-6">
                     <img src="../../assets/images/TechyTrainEstimates_v1_01.jpg" class="img_house" routerLink="/imgtopinfracompany">
                 </div>
                 <div class="col-md-8 col-sm-6 col-6">
                     <p class="top_infra_text">Top Infra Company</p>
                     <h6 class="city">City: </h6>
                     <div class="space_of_icon_star">
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                 </div>
                 </div>
                 
             </div>
         </div>
         
     </div>
     <!-- <br> -->
     <div class="col-md-12">
         <div class="card house_card">
             <div class="row">
                 <div class="col-md-4 col-sm-6 col-6">
                     <img src="../../assets/images/PanCard_back1.jpeg" class="img_house" routerLink="/imgtopinfracompany">
                 </div>
                 <div class="col-md-8 col-sm-6 col-6">
                     <p class="top_infra_text">Top Infra Company</p>
                     <h6 class="city">City: </h6>
                     <div class="space_of_icon_star">
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                     <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                 </div>
                 </div>
                 
             </div>
         </div>
         
     </div>
 
         <!-- feature-business -->

        
    </div>
</div>
</div>
    </div>
</div>
<br><br>

