.background {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(103, 178, 111), rgb(76, 162, 205)) repeat scroll 0% 0%;
    height: 100px;
}

.advanced_text {
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 35px;
    color: #F9F9F9;
}

.home_search {
    position: relative;
    float: right;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-top: 35px;

}

.image_box .image_stars span {
    text-align: center;
}

.link_tag {
    text-decoration: none;
}

#link_color {
    color: white;
}

/* right side search css */

.icon_color {
    color: rgb(97, 167, 224);
    padding-right: 10px;
}

.search_space {
    margin-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}

.input_space {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #8c8c8c;
    border-width: 0px;
    padding-left: 30px;
    padding-right: 30px;
    height: 35px;
    border-radius: 0px;
}

select #select_tag {
    font-size: 30px;
    color: red;
}

.space_of_col {
    margin: 10px;
}

.card {
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: 140px;
}

select {
    border: 1px solid #aaa;
    background-color: #fff;

}

.fa-crosshairs {
    color: #AF0333;
}

.submit-search-button {
    margin-left: 30px;
    margin-top: 10px;
    background-color: #7cb342;
    color: #fff;
    border-width: 0px;
}

.reset {
    margin-left: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;

}

.space {
    margin-top: 10px;
}


.icon_color {
    color: red;
}

.recent_posts {
    color: #132e57;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}



.nav-link {
    margin-right: -10px;
}

.fa-th {
    margin-right: -20px;
}

.nav {
    float: right;
    /* border-bottom: 1px rgba(0,0,0,0.05) solid; */


}

.icon_color {
    color: red;
}

.icon_color:active {
    color: gray;
}

/* .hide_and_card{
    margin-left: 40px;  
} */
.card_of_hide {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-width: 0px;
    border-radius: 0px;
    height: 300px;
    margin-bottom: 10px;
}

.infra_text_background {
    background: #F8F9FA;
}

.infra_text {
    color: orangered;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.real_estate_text {
    text-align: center;
}

.hyderbad_text_hide {
    text-align: center;
}

/* .color_of_star_icon{
    color: #aaa;
    margin-top: -50px;
 } */


.overZoomLink {
    height: 130px;
}

.sec_tab_card {
    border-radius: 0px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec_tab_img {
    width: 100%;
    margin: 10px;
}

/* sec_tab */

.top_infra {
    color: #8c8c8c;
    font-size: 22px;
    text-align: center;
}

.stra_icon_space {
    font-size: 14px;
    color: #b8b8b8;
}

.inner_card {
    margin-right: 10px;
    background-color: #f6f6f6;
    border-radius: 0px;
    border-width: 0px;
}

.inner_card {
    background-color: #f6f6f6;
    margin-right: 10px;
}

.verified-icon {
    color: #6EA722;
    padding: 3px 5px 3px 1px;
    font-size: 14px;
}

.bold {
    color: #b9b9b9;
    font-size: 15px;
    margin-bottom: -3px;
}

.spcaed_on_icons {
    padding: 10px;
}

img {
    cursor: pointer;
}

.email {
    text-decoration: none;
    color: #b9b9b9;
}

.sec_top_company {
    margin-top: 15px;
    color: #b9b9b9;
}

input[type="range"] {
    width: 100%;
    /* Adjust the width as needed */
    margin-bottom: 20px;
}

.km_range_title {
    font-weight: 600;
    font-size: 20px;
}

.km_range_title .km_range_numbers {
    font-weight: 600;
    font-size: 14px;
}

.active {
    color: orange;
}

select option {
    color: black;
    font-size: 20px
}


@media(max-width:430px) {
    .sec_tab_img {
        margin: 0px;
    }

    .card_of_hide {
        height: auto;
    }

    .spcaed_on_icons {
        padding-left: 10px;
    }
}


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading i {
    font-size: 35px;
    animation: spinner 0.5s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(-180deg);
    }
}