<app-mainnavbar></app-mainnavbar>

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12">
            <div class="container mt-4">

                <ul>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Mahanidhi Leads Privacy Policy.</h3>
                            <hr>
                        </div>
                    </div>
                    <li>1. Mahanidhi Leads is committed to protecting your privacy and the
                        security of your
                        personal information.</li>
                    <li>2. We collect minimal personal information necessary to provide our
                        services and
                        improve user experience.</li>
                    <li>3. Your information is used only for the intended purposes and is not
                        shared with
                        third parties without your consent.</li>
                    <li>4. We may collect non-personal information for analytics, such as
                        website usage
                        patterns and demographics.</li>
                    <li>5. Cookies and similar technologies may be used to enhance your browsing
                        experience
                        on Mahanidhi Leads.</li>
                    <li>6. You have the right to access, correct, or delete your personal
                        information at any
                        time.</li>
                    <li>7. We implement reasonable security measures to safeguard your
                        information from
                        unauthorized access.</li>
                    <li>8. Third-party links on Mahanidhi Leads are subject to their own privacy
                        policies;
                        we are not responsible for their practices.</li>
                    <li>9. We may update our privacy policy periodically, and the latest version
                        will be
                        available on Mahanidhi Leads' website.</li>
                    <li>10. By using Mahanidhi Leads' services, you consent to the terms
                        outlined in this
                        privacy policy.</li>
                    <li>11. Children under the age of 13 are not allowed to use Mahanidhi Leads'
                        services
                        without parental consent.</li>
                    <li>12. We comply with applicable data protection laws and regulations in
                        the
                        jurisdictions we operate, including Mahanidhi Leads' operations.</li>
                    <li>13. Your information may be transferred and processed internationally by
                        Mahanidhi
                        Leads, following privacy laws.</li>
                    <li>14. We do not knowingly collect sensitive information, such as racial or
                        ethnic
                        origin, religious beliefs, etc.</li>
                    <li>15. In the event of a data breach, Mahanidhi Leads will notify affected
                        users and
                        take necessary steps to mitigate the impact.</li>
                    <li>16. Email communication may be used by Mahanidhi Leads for service
                        updates,
                        newsletters, or marketing; you can opt-out at any time.</li>
                    <li>17. Mahanidhi Leads' services are not intended for individuals residing
                        in countries
                        with data protection laws contrary to this policy.</li>
                    <li>18. We may disclose information in response to legal requests, court
                        orders, or to
                        protect Mahanidhi Leads' rights.</li>
                    <li>19. Questions or concerns about Mahanidhi Leads' privacy policy can be
                        directed to
                        [contact email].</li>
                    <li>20. This privacy policy is effective as of [date], and any changes will
                        be
                        communicated through Mahanidhi Leads' website.</li>
                </ul>
            </div>

        </div>
    </div>
</div>