.background {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(103, 178, 111), rgb(76, 162, 205)) repeat scroll 0% 0%;
    height: 100px;
}

body {
    background-color: #f6f6f6;
}

.advanced_text {
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 35px;
    color: #F9F9F9;
}

.home_search {
    position: relative;
    float: right;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-top: 35px;

}

.nav {
    float: right;
}

.icon_color {
    color: red;
}

.icon_color:active {
    color: gray;
}


/* css of side space col 3 */
/* .img_house{
    width: 90px;
    margin:15px;
}
.space_of_icon{
    margin-top: 20px;
}
.icon_color1{
    color: rgb(97, 167, 224);
    padding-right: 10px;
}
.space_of_icon{
    margin-top: 20px;
}
.search_bar_button{
    background-color: green;
    color: white;
    margin-top: 20px;
}
.space_of_text{
    margin-top: 10px;
}
.small_line{
    
    margin-left: 0px;
}
.house_card{
    height: 90px;
    border-radius: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 0px;
}
.house_card_1{
    height: 100px;
    border-radius: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 0px;
    background-color: white;
}
.color_of_star_icon{
    color: #aaa;
    margin-top: -50px;
 }
 .space_of_icon_star{
    margin-left: 10px;
    margin-top: -8px;
}
.top_infra_text{
    color:  #e2dfdf;
    margin-top: 7px;
    margin-left: 10px;
}
.city{
    color:  #a19f9f;
    margin-top: -15px;
    margin-left: 10px;
}
.Hyderbad_text{
    color: #c4c1c1;
    margin-top: 5px;
}
.real_text{
    color: #c4c1c1;
    margin-top: 8px;
} */

/* hide&tab css */
/* .hide_and_card{
    margin-left: 40px;  
}
.card_of_hide{
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-width: 0px;
}
.infra_text{
    color: orangered;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}
.infra_text_background{
    background-color: #dbdbdbd0;
}
.real_estate_text{
    text-align: center;
}
.hyderbad_text_hide{
    text-align: center;
}
.stars_center{
    text-align: center;
    margin-bottom: 10px;
}
@media(max-width:430px){
    hr{
        margin-left: 15px;
    }
    .background_card{
        height: 200px;
        margin-left: 0px;
    }
    .space_div_toplocation{
        margin-left: 5px;
    }
    .house_card{
        height: 120px;
    }
    .hide_and_card{
        margin-left: 0px;  
    }
}
@media(max-width:330px){
    hr{
        margin-left: 12px;
    }
    
} */

.icon_color {
    color: red;
}

.recent_posts {
    color: #132e57;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.icon_space {
    margin-left: 30px;
}

.nav-link {
    margin-right: -10px;
}

.fa-th {
    margin-right: -20px;
}

.nav {
    float: right;
    /* border-bottom: 1px rgba(0,0,0,0.05) solid; */


}

.icon_color {
    color: red;
}

.icon_color:active {
    color: gray;
}

/* .hide_and_card{
    margin-left: 40px;  
} */
.card_of_hide {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-width: 0px;
    border-radius: 0px;
    height: auto;
    margin-bottom: 10px;
}

.infra_text_background {
    background: #F8F9FA;
}

.infra_text {
    color: orangered;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.real_estate_text {
    text-align: center;
}

.hyderbad_text_hide {
    text-align: center;
}

.color_of_star_icon {
    color: #aaa;
    margin-top: -50px;
}

.space_of_icon_star {
    margin-left: 10px;
    margin-top: -8px;
}

.stars_center {
    text-align: center;
    margin-bottom: 10px;
}

.overZoomLink {
    height: 130px;
}

.sec_tab_card {
    border-radius: 0px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec_tab_img {
    width: 100%;
    margin: 10px;
}

/* sec_tab */

.top_infra {
    color: #8c8c8c;
    font-size: 22px;
}

.stra_icon_space {
    font-size: 14px;
    color: #b8b8b8;
}

.inner_card {
    margin-right: 10px;
    background-color: #f6f6f6;
    border-radius: 0px;
    border-width: 0px;
}

.inner_card {
    background-color: #f6f6f6;
    margin-right: 10px;
}

.verified-icon {
    color: #6EA722;
    padding: 3px 5px 3px 1px;
    font-size: 14px;
}

.bold {
    color: #b9b9b9;
    font-size: 15px;
    margin-bottom: -3px;
}

.spcaed_on_icons {
    padding: 10px;
}

.email {
    text-decoration: none;
    color: #b9b9b9;
}

.sec_top_company {
    margin-top: 15px;
    color: #b9b9b9;
}

.card img {
    width: 100%;
    height: 100px;
}

.category_card {
    text-decoration: none;
    cursor: pointer;
}

@media(max-width:430px) {
    .sec_tab_img {
        margin: 0px;
    }

    .card_of_hide {
        height: auto;
    }

    .spcaed_on_icons {
        padding-left: 10px;
    }
}