<app-allpages-navbar></app-allpages-navbar>

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-6">
               <h5 class="advanced_text">Members</h5>
            </div>   
            <div class="col-md-5 col-6">
                <div class="home_search">
                    <a routerLink="#" id="link_color">Home</a> / All Users            
                </div>
              </div> 
        </div>
    </div>
</div>


<div class="container-fluid">
<div class="row">
   
        <div class="col-md-9 col-sm-12 col-12">
    <div class="card background_card">
        <div class="row">
        
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="col-md-7 col-sm-12 col-12">
                  <form class="d-flex">
                    <input class="form-control search_lenth" type="search" placeholder="Name" aria-label="Search">
                    <button class="btn search_button" type="submit">Search</button>
                  </form>
                </div>
            </div>
              </nav>
              <hr>
    </div>
       
        <div class="row">
       <div class="col-md-2">
        <img src="../../assets/images/nophoto-male.jpg" class="img_proffesional">
       </div>
       <div class="col-md-2">
        <div class="post">
            <p class="post_zero">0 Post</p>
        </div>
       </div>
       <div class="col-md-8 col-12 col-sm-12 class_space">
        <h6>Niranjan Imalla</h6>
        <h6>phone:</h6>
        <h6>Email:</h6>
    </div>
    <hr>
    </div>
    
    </div>
</div>

<div class="col-md-3">
    <div  class="space_of_icon">
   <span><i class="fa fa-search icon_color" style="font-size:20px" ></i>Search</span>
</div>
<div class="row">
    <div class="col-md-12 col-12">
        <div class="input-group">
            <input type="search" class="form-control space_of_icon" placeholder="Type something" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline search_bar_button" data-mdb-ripple-init>search</button>
          </div>
    </div>
    <div class="col-md-12">
        <span><h5 class="space_of_text"><i class="fa fa-bookmark icon_color" aria-hidden="true"></i>Feature Business</h5></span>
        <hr class="small_line">
    </div>
    <div class="col-md-12">
        <div class="card house_card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <img src="../../assets/images/hm2.jpg" class="img_house">
                </div>
                <div class="col-md-8 col-sm-6 col-6">
                    <p class="top_infra_text">Top Infra Company</p>
                    <h6 class="city">City: </h6>
                    <div class="space_of_icon_star">
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                </div>
                </div>
                
            </div>
        </div>
        <div class="space_div_toplocation">
            <span><h6><i class="fa fa-map-marker space_of_icon icon_color" aria-hidden="true" style="font-size:20px"></i> Top Locations</h6></span>
                <div class="Hyderbad_text">> Hyderbad (1)</div>
                <span><h6><i class="fa fa-folder space_of_icon icon_color" aria-hidden="true" style="font-size:20px"></i>Categories</h6></span>
                <div class="real_text">> Real Estate (1)</div>
                <div class="real_text">> Infra Developers (0)</div>
                <div class="real_text">> Groceries (0)</div>
                <span><h6><i class="fa fa-clock-o space_of_icon icon_color" aria-hidden="true" ></i> Recent Posts</h6></span>
        </div>
        <div class="card house_card">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <img src="../../assets/images/hm2.jpg" class="img_house">
                </div>
                <div class="col-md-8 col-sm-6 col-6">
                    <p class="top_infra_text">Top Infra Company</p>
                    <h6 class="city">City: </h6>
                    <div class="space_of_icon_star">
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                    <i class="fa fa-star color_of_star_icon" aria-hidden="true" style="font-size:18"></i>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>
<br><br>

