.background{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(103, 178, 111), rgb(76, 162, 205)) repeat scroll 0% 0%;
    height: 100px;
}
.advanced_text{
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 35px;
    color: #F9F9F9;
}
.home_search {
    position: relative;
    float: right;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-top: 35px;

}
#link_color{
    color: white;
}
.background_post{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.post_space{
    text-align: center;
}
.icon_space{
    margin-right: -20px;
}
.top-contant{
    color: red;
}