h5{
    font-size: 1rem;
    color: #132e57;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 1px rgba(0,0,0,0.05) solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.icon_color{
    color: #1DBFFF;
    /* margin-top: 10px; */
}
.img-thumbnail{
    width: 50px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 10px;
}
.label-red {
    background: #E85858;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
a{
    text-decoration: none;
}
.text_color{
    color: #8c8c8c;
}
.img_home{
    border-bottom: 1px rgba(0,0,0,0.05) solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.category_list{
    border-bottom: 1px rgba(0,0,0,0.05) solid;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.color{
    color: #8c8c8c;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: #8c8c8c;
}
ul li{
    list-style: none;
}
.btn-primary{
    background-color: #8c8c8c;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}