<div class="container">
    <div class="row">
        <!-- <div class="col-md-9"></div> -->
        <div class="col-md-12">
            <div  class="space_of_icon">
                <span><i class="fa fa-search icon_color" style="font-size:20px" ></i>Search</span>
             </div>
             <hr class="small_hr">
             <div class="row">
                 <div class="col-md-12 col-12">
                     <div class="input-group">
                         <input type="search" class="form-control space_of_icon" placeholder="Type something" aria-label="Search" aria-describedby="search-addon" />
                         <button type="button" class="btn btn-outline search_bar_button" data-mdb-ripple-init>search</button>
                       </div>
                 </div>
             </div>
        </div>
    </div>
</div>