<div class="background_color">
  <div class="top-bar box-top-bar">
    <div class="container">
      <!-- Contact starts -->
      <div class="tb-contact pull-left">
        <!-- Email -->
        <i class="fa fa-envelope color email_size"></i> &nbsp; <a routerLink="#"
          class="web_mail">mahanidhileads@gmail.com</a>
        &nbsp;&nbsp;
        <!-- Phone -->
        <i class="fa fa-phone color email_size"></i> &nbsp;<span class="phone_number"> +91 70931 35710</span>
      </div>
      <!-- Contact ends -->
      <div class="tb-language dropdown pull-right">
        <a routerLink="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe">
          </i> English <i class="fa fa-angle-down color"></i></a>
        <ul class="dropdown-menu dropdown-mini" role="menu">
          <li class="active"><a routerLink="#">English</a></li>
          <li class=""><a routerLink="#">Arabic</a></li>
          <li class=""><a routerLink="#">Portuguese</a></li>
          <li class=""><a routerLink="#">Spanish</a></li>
        </ul>
      </div>
      <div class="tb-social pull-right">
        <div class="brand-bg text-right">
          <!-- Brand Icons -->
          <a target="_blank" routerLink="#" class="facebook"><i class="fa fa-facebook square-2"></i></a>
          <a target="_blank" routerLink="#" class="twitter"><i class="fa fa-twitter square-2"></i></a>
          <a target="_blank" routerLink="#" class="google-plus"><i class="fa fa-google-plus square-2"></i></a>
          <a target="_blank" routerLink="#" class="linkedin"><i class="fa fa-linkedin square-2"></i></a>
          <a target="_blank" routerLink="#" class="pinterest"><i class="fa fa-pinterest square-2"></i></a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>






  <!-- navbar -->

  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/mainhome">
          <!-- <img src="../../assets/images/whizbiz-pro-logo1.png" class="logo"> -->
          <a routerLink="#" class="standard-logo pull-left">
            <img src="../../assets/images/whizbiz-pro-logo1.png" alt="Logo" class="front_inline_39">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/mainhome"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/alloffers"><i class="fa fa-percent" aria-hidden="true"></i> All
                offers</a>
            </li>
            <!-- <button routerLink="/alloffers">All Offers</button> -->
            <li class="nav-item active">
              <a class="nav-link" routerLink="/packages"><i class="fa fa-th-large" aria-hidden="true"></i> Package</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/list-my-business"><i class="fa fa-list" aria-hidden="true"></i> List My
                Business</a>
            </li>
            <li class="nav-item">
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        <h4 class="modal-title" id="myModalLabel">
                          <span class="fa fa-sign-in"></span> Login to your Account
                        </h4>
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group row">
                        <label class="col-sm-3">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="useremail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="password" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="password" placeholder="Password"
                            autocomplete="off">
                        </div>
                      </div>
                      <div class="offset-sm-3 col-sm-9">
                        <div class="checkbox">
                          <label> <input type="checkbox"> Remember Me </label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">

                          <button type="submit" class="btn btn-sm btn-success ripple">Login</button>&nbsp;
                          <button type="reset" class="btn btn-sm btn-white">Reset</button>
                        </div>
                      </div>
                      <div class="space_of_black">
                        <div class="offset-sm-3 col-sm-9">
                          <a routerLink="#" class="black">Forgot Password ?</a>
                          | <a routerLink="#" class="black">Sign Up</a>
                          | <a routerLink="#" class="black">Resend Confirmation Email</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>